body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

#login-container {
    margin-top: 50px;
}

input {
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#dashboard {
    margin-top: 20px;
}

#dashboard button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
#new-list-items {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
button:hover {
    background-color: #45a049;
}
